.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 15px 0;
	z-index: 99;

	.container {
		@include media('>=tablet') {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	.header-holder {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include media('>=tablet') {
			display: block;
		}
	}
}

.menu {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	transform: scale(0.9);
	transition: opacity .3s ease-in-out, visibility .3s ease-in-out, transform .3s ease-in-out;
	@extend %listreset;

	@include media('>=tablet') {
		opacity: 1;
		visibility: visible;
		display: flex;
		position: static;
	}

	.mobile-menu-active & {
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}

	a {
		color: $white;
		text-decoration: none;
		text-transform: uppercase;
		display: block;
		background-color: rgba(9, 5, 47, 0.85);
		padding: 15px 10px;
		font-size: 13px;
		font-weight: 900;
		letter-spacing: 0.33px;
		transition: color .3s ease-in-out;

		@include media('>=tablet') {
			background-color: transparent;
		}

		&:hover {
			color: $blue;
		}
	}

	li {
		&.active {
			a {
				color: $blue;
			}
		}
	}
}

.menu-opener {
	display: inline-block;
	vertical-align: top;
	width: 40px;
	height: 40px;
	background: $blue;
	position: relative;
	border-radius: 3px;

	@include media('>=tablet') {
		display: none;
	}

	span,
	&::after,
	&::before {
		background: $white;
		border-radius: 4px;
		position: absolute;
		top: 50%;
		left: 25%;
		right: 25%;
		height: 4px;
		margin-top: -2px;
		transition: all .3s linear;
	}

	&::before {
		content:'';
		top:30%;
	}

	&::after {
		content:'';
		top:70%;
	}
}

.mobile-menu-active {
	.menu-opener {
		&::after,
		&::before {
			transform: rotate(45deg);
			top: 50%;
			left: 15%;
			right: 15%;
		}

		&::after {
			transform:rotate(-45deg);
		}

		span {
			opacity: 0;
		}
	}
}
